@model BaseStations.Models.BaseStation

@{
    ViewData["Title"] = "Create";
}

<h1>Создать</h1>

@* <h4>BaseStation</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Номер</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label">Частота</label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coordinates" class="control-label">Координаты</label>
                <input asp-for="Coordinates" class="form-control" />
                <span asp-validation-for="Coordinates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Адрес</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operator" class="control-label">Оператор</label>
                <input asp-for="Operator" class="form-control" />
                <span asp-validation-for="Operator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" style="margin-top: 10px;" />
            </div>
        </form>
    </div>
</div>

<div style="margin-top: 20px;">
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
